header {
   background-color: black;
}

nav {
    text-align: center;
    display: flex;
    justify-content: center;
}

nav ul {
    list-style-type: none;
}

nav li {
    float: left;
    display: block;
    padding: 5px 30px;
    font-weight: 500;
    font-size: 18px;
}

nav a {
    color: #fff;
    text-decoration: none;
}

nav a:hover {
    font-weight: 800;
}

nav a:active{
    font-weight: 800;
}