<header>
    <nav>
        <ul>
            <li><a routerLink="/">Home</a></li>
            <li><a routerLink="/experience">Experience</a></li>
            <li><a routerLink="/portofolio">Portofolio</a></li>
            <li><a routerLink="/contact-us">Contact Us</a></li>
        </ul>        
    </nav>
</header>
