h2 {
    color:#fff;
    text-align:center;
    font-size:35px;
}

h3 {
    color:#fff;
    font-size:25px;
    margin:3px 0px;
}

p {
    margin:0;
}

.row {
    display: flex;
    padding:7em;
    color:#fff;
    padding-bottom:10em;
}

.col-6 {
    width: 50%;
    padding:2em;
    margin:1em;
    border:2px solid #fff;
    border-radius:10px;
}

h4 {
    margin:70px 0px 5px 0px ;
}
