<div class="">
   <h2 >#Last Experience</h2>
   <div class="row">
      <div class="col-6">
         <h3>Frontend Developer</h3>
         <p>OkeGarden (Intern) Jan 2023 - April 2023</p>
         <h4>Project : Calculator RAB </h4>
         <p>Tech Stack : Html, Css, Boostrap, React, Laravel</p>
      </div>
      <div class="col-6">
         <h3>Frontend Engineer</h3>
         <p>Sagara Technology (Intern) July 2023 - Okt 2023</p>
         <h4>Project : Techconsulta, JobFortech</h4>
         <p>Tech Stack : NextJs, ReactJs, Tailwindcss, Redux, Redux</p>
      </div>
   </div>
</div>
