<div>
    <h2>My Portofolio</h2>

    <div class="row">
        <div class="col-4">
           <h3>Freephoto</h3>
           <p>Built the website which provides free photos and wallpaper. I am responsible as frontend 
            to make this application.</p>

           <p><span class="bg-tech-stack ">Tech Stack</span> : Html, Css, Javascript,React.js, Tailwindcss</p>
        </div>
        <div class="col-4">
           <h3>Mealcook</h3>
           <p>Build the landing page company which contains food recipe and tips and trick.</p>

           <p><span class="bg-tech-stack ">Tech Stack</span> : React, Javascript and Boostrap</p>
        </div>
     </div>
</div>
