h2 {
    text-align:center;
    font-size:35px;
}

.row {
    margin-left: auto;
    margin-right: auto;
    justify-items: center;
    display: flex;
    padding:7em;
    color:#fff;
}

.col-4 {
    border:2px solid #fff;
    border-radius:10px;
    margin:1em;
    padding:2em;
    width:30%;
}

.bg-tech-stack {
    border-radius: 10px;
    background-color: aqua;
    padding:7px;
}