h2 {
    text-align:center;
    font-size:35px;
}

h3 {
    text-align:center;
}

.row {
    display: flex;
    padding:2em 7em;
    color:#fff;
    padding-bottom:10em;
}

.col-6 {
    width: 50%;
    padding:2em;
    margin:1em;
    border:2px solid #fff;
    border-radius:10px;
}

.col-6-social-media {
    width: 50%;
    padding:2em;
    margin:1em;
}

form input {
    padding:10px;
    width:95%;
    border-radius: 5px;
}

.input-field {
    margin:10px 0;
}

.btn-submit {
    margin-top:10px;
    width:100%;
    padding:10px 20px;
    border-radius:5px;
    font-weight:700;
}

textarea {
   vertical-align:top;
   width: 98%;
   height: 20vh;
   display: block;
   border-radius:5px;
}

.social-media {
    display:flex;
    justify-content:center;
}

.social-media a {
    margin:10px;
}

.social-media a:hover{
    width:10%;
}
