<h2>Contact Us</h2>
<div class="row">
     <div class="col-6">
          <form>
              <div class="input-field">
                <label>Name :</label><br>
                <input name="nama"><br>
              </div>
              <div class="input-field">
                <label>Email</label><br>
                <input name="email"><br>
              </div>
              <div class="input-field">
                <label>Password</label><br>
                <input name="password"><br>
              </div>
              <div class="input-field">
                <label>Message</label><br>
                <textarea></textarea>
              </div>
              <button class="btn-submit" style="width: 100%;">Submit</button>
          </form>
     </div>
     <div class="col-6-social-media">
          <h3>Social Media</h3>

          <div class="social-media">
              <a><i class="fa-brands fa-github fa-2xl"></i></a>
              <a><i class="fa-brands fa-linkedin fa-2xl"></i></a>
              <a><i class="fa-brands fa-whatsapp fa-2xl"></i></a>
              <a><i class="fa-brands fa-gitlab fa-2xl"></i></a>
          </div>
     </div>
</div>