<div class="row">
    <div class="col-6 items-photo">
        <img class="foto-profile" src="../../assets/img/foto-profile.jpg" alt="foto-profile" width="400">
    </div>
    <div class="col-6">
        <h2>Hello, I'm Nanda Aditya Putra</h2>
        <p class="title-job"><i>Software Engineer</i></p>

        <p class="description">Final year Computer Science student at University Brawijaya. Interest and passion in Software Engineering. 
           Experienced as a frontend engineer for less than a Year. Have knowledge in framework Javascript like 
           ReactJs, VueJs, Angular and NextJs. Strong problem-solving, communication, analytical, and teamwork. Can be work independently and team. I also interest in Backend and learn Go and Java</p>
        
        <div class="tech-stack">
            <span>Tech Stack</span>
            <ul>
               <img src="../../assets/img/javascript.png" width="40">
               <img src="../../assets/img/java.png" width="50">
               <img src="../../assets/img/go.png" width="50">
           </ul>
        </div>
    </div>
</div>
