h2{
    margin:0;
    color:#fff;
    text-align:center;
    font-size:35px;
}

span {
    color:#fff;
}

.description {
    margin:40px 0px;
    color:#fff;
    font-size:20px;
    text-align:justify;
}

.foto-profile {
    border-radius:50%;
    justify-content:center;
    margin:auto;
}

.row {
    display: flex;
    padding:7em;
}

.col-6 {
    width: 50%;
}

.title-job {
    color:#fff;
    text-align:center;
    justify-content:center;
    font-style:italic;
}

.items-photo {
    display:flex;
}

.tech-stack ul{
    list-style-type: none;
    padding:0;
}

.tech-stack img {
    margin: 5px;
}

.tech-stack img:hover {
    width: 7%;
}
